@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* ✅ Add font variables */
  --font-sans: var(--font-poppins);
  --font-alt: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ Register font variables for Tailwind */
  --font-sans: var(--font-poppins);
  --font-alt: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

@media screen and (max-width: 1200px) {.nav-container{padding-left: 50px; padding-right: 50px;} }
@media screen and (max-width: 800px) {.nav-container{padding-left: 20px; padding-right: 20px;} .nav-button{height: 32px; display: flex; align-items: center;} }

@media screen and (max-width: 1200px) {.hero-container{margin-left: 50px; margin-right: 50px;} .hero-main-text{font-size: 65px;} .hero-bottom-text{font-size: 48px; line-height: 100%;} .hero-heading-gap{gap: 35px;} }
/* @media screen and (max-width: 1222px) {.hero-left{width: 60%;} .hero-right{width: 40%;} } */
@media screen and (max-width: 1100px) { .hero-box{height: 100%;} .hero-left{display: none;} .hero-right{width: 100%;} .last-input{width: 50%;} }
@media screen and (max-width: 800px) {.hero-container{margin-left: 20px; margin-right: 20px;} .hero-main-text{font-size: 55px;} .hero-bottom-text{font-size: 42px; line-height: 100%; width: 100%;} .hero-heading-gap{gap: 28px;} }
@media screen and (max-width: 600px) {.hero-container{margin-left: 20px; margin-right: 20px;} .hero-main-text{font-size: 40px;} .hero-bottom-text{font-size: 35px; line-height: 100%;} .hero-heading-gap{gap: 25px;} }

@media screen and (max-width: 1200px) {.one-platform{margin-left: 50px; margin-right: 50px;} .one-platform-heading{font-size: 48px;} }
@media screen and (max-width: 900px) {.one-platform-cards{gap: 25px;} .card-under{padding-left: 25px; padding-right: 25px;} }
@media screen and (max-width: 800px) {.one-platform-sub-heading, .data-heading, .collaboration-sub-heading, .collabroation-bottom-text, .block-brain{width: 100%;} .block-brain{padding-left: 25px; padding-right: 25px;} .collabroation-bottom-text{padding-left: 20px; padding-right: 20px;} .one-platform{margin: 20px; margin-right: 20px;}  .one-platform-heading{font-size: 40px;}.one-platform-heading-container{gap: 30px;}}
@media screen and (max-width: 600px) {  .one-platform-heading{font-size: 35px;}}

@media screen and (max-width: 1200px) {.blockbrain-image-text{padding-left: 50px; padding-right: 50px;}  .block-brain-image-heading{font-size: 24px;} .block-brain-image-sub-heading{font-size: 17px;}}
@media screen and (max-width: 800px) {.blockbrain-image-text{padding-left: 25px; padding-right: 25px;} .block-brain-image-heading{font-size: 17px;} .block-brain-image-sub-heading{font-size: 16px;}}

@media screen and (max-width: 1470px) {.footer-links-container{gap: 70px;}}
@media screen and (max-width: 1350px) {.footer-links-container{gap: 50px;}}
@media screen and (max-width: 1300px) { .footer-links-under-container{gap: 50px;}}
@media screen and (max-width: 1250px) { .footer-links-under-container{gap: 30px;} .footer-links-container{gap: 30px;}}
@media screen and (max-width: 1222px) {.footer-links-under-container{flex-direction: column; align-items: start;}}
@media screen and (max-width: 1200px) {.footer-container{margin-left: 50px; margin-right: 50px;}}
@media screen and (max-width: 1000px) {.footer-box{flex-direction: column; height: 100%; align-items: start;} .footer-links-container{justify-content: start;} .footer-link-main{display: flex; flex-direction: column-reverse; gap: 50px; width: 100%;} .footer-left{width: 100%; margin-top: 50px;}}
@media screen and (max-width: 800px) {.footer-container{margin-left: 20px; margin-right: 20px;}}
@media screen and (max-width: 800px) {.footer-links-container{gap: 50px;}}
@media screen and (max-width: 600px) {.footer-input{width: 80%;}}
@media screen and (max-width: 1000px) {.footer-hidden-text{display: block;} .footer-hidden-text-2{display: none;}}
@media screen and (max-width: 750px) {.footer-bottom{flex-direction: column; align-items: start; gap: 20px;} .footer-bottom-links{flex-wrap: wrap;} .footer-bottom-2{flex-direction: column; gap: 20px;}}

@media screen and (max-width: 750px) { .footer-container{margin-top: 20px;} .margin-topp{margin-top: 100px;} .marque-container{margin-top: 100px;}}

@media screen and (max-width: 1300px) { .laptop-comma{left: 10%;}}
@media screen and (max-width: 850px) { .laptop-comma{left: 0%;}}
@media screen and (max-width: 800px) { .laptop-comma{left: 0%; display: none;} .mobile-comma{display: block; left: 10%;}}
@media screen and (max-width: 600px) { .laptop-comma{left: 0%; display: none;} .mobile-comma{display: block; left: 5%;}}
@media screen and (max-width: 800px) { .laptop-earth{display: none;} .mobile-earth{display: block;}}

